<div class="column is-half">
   <div class="box">
    <article class="media-box">
         <div class= "media-left">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>   
        </div>

        <div class="media-contant">
           <%= render 'form' %>
        </div>

     </article>   
  
   </div>

     <%= render 'tweets' %>
</div>