<div>
<article class="panel is-info">
        <p class="panel-heading">
            Who to Follow
        </p>

        <a class="panel-block is-active">
            <span class="panel-icon">
            <i class="fa-regular fa-user"></i>
            </span>
            @bulma
        </a>
        <a class="panel-block is-active">
            <span class="panel-icon">
        <i class="fa-regular fa-user"></i>    </span>
            @marksheet
        </a>
        <a class="panel-block is-active">
            <span class="panel-icon">
        <i class="fa-regular fa-user"></i>   
        </span>
            @minireset.css
        </a>
        <a class="panel-block is-active">
            <span class="panel-icon">
        <i class="fa-regular fa-user"></i>    </span>
            @jgthms.github.io
        </a>
</article>
</div>