<div class="column ">
<article class="panel is-info">
        <p class="panel-heading">
           Trends
        </p>

        <a class="panel-block is-active">
          
         Trends 1
        </a>
        <a class="panel-block is-active">
          Trends 2
         
        </a>
        <a class="panel-block is-active">
          Trends 3
        </a>
        <a class="panel-block is-active">
        Trends 4
        </a>
</article>
</div>