   <section  class="section">
     <div class="container">
      <div class="columns">
         <%= render 'trands' %>
         <%= render 'feed' %>
         <%= render 'followers' %>
      </div>
      </div>
    

   </section>


